{% extends 'base.html' %}

{% block title %}
Processing Status
{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="10"> <!-- Refresh every 10 seconds -->
<div class="container">
    <h1>File Processing Status</h1>
    <ul>
        {% for job in job_statuses %}
            <li>
                <strong>{{ job.filename }}</strong>: 
                {% if job.status == "Processing" %}
                    <span style="color: orange;">{{ job.status }}</span>
                {% elif job.status == "Finished" %}
                    <span style="color: green;">{{ job.status }}</span>
                {% elif job.status == "Failed" %}
                    <span style="color: red;">{{ job.status }}</span>
                {% else %}
                    <span style="color: gray;">{{ job.status }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('upload_file') }}" class="btn btn-primary">Upload More Files</a>
</div>
{% endblock %}

